.btn {
  font-size: 14px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  letter-spacing: 0.7px;
  transition: all 0.3s ease-in-out;
  height: fit-content;
}

.btn:hover {
  background-color: #00a8a8;
}
