.post__item {
  border: 3px solid darkcyan;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.post__item-title {
  margin: 0;
  padding: 0 10px 10px 10px;
}

.post__item-body {
  margin: 0;
  padding: 10px;
}
