#root {
  max-width: 1200px;
}

.formAddPost {
  max-width: 500px;
  background-color: #f4f1f1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(165, 166, 165);
  padding: 15px;
}

.pastsTitle {
  text-align: center;
  color: gray;
}

